  <!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Acceleron Luna</title>
   <link type='text/css' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600' rel='stylesheet'>
   <link type="text/css" href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
   <link type="text/css" href="assets/fonts/themify-icons/themify-icons.css" rel="stylesheet">
   <link type="text/css" href="assets/css/styles.css" rel="stylesheet">
   <link type="text/css" href="assets/plugins/codeprettifier/prettify.css" rel="stylesheet">
   <link type="text/css" href="assets/plugins/iCheck/skins/minimal/blue.css" rel="stylesheet">

   <link rel="shortcut icon" href="assets/icons/favicon.png">

   <!-- Controller -->
   <script src="assets/js/jquery.js"></script>
   <script src="assets/js/moment.min.js"></script>
   <script src="assets/js/angular.min.js"></script>
   <script src="assets/js/angular-cookies.min.js"></script>
   <script src="controllers/smart-orders.js"></script>
   <script src="controllers/login.js"></script>

</head>

   <body class="" ng-app="SmartOrdersApp" ng-controller="SmartOrdersController" ng-cloak>
    
     <header id="topnav" class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="logo-area">
           <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
           <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
           <span class="icon-bg">
           <i class="ti ti-menu"></i>
           </span>
           </a>
           </span>
           <a class="navbar-brand" href="index.html" style="width: 125px"></a>
           <h1 style="font-size: 18px; font-weight: bold; text-transform: uppercase">{{outletCode}}</h1>
        </div>
        <!-- logo-area -->
        <ul class="nav navbar-nav toolbar pull-right">
           <li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
              <a href="#" class="toggle-fullscreen"><span class="icon-bg"><i class="ti ti-zoom-in"></i></span></i></a>
           </li>
           <li class="dropdown toolbar-icon-bg">
              <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
              <img class="img-circle" src="assets/img/default_user.png" alt="" />
              </a>
              <ul class="dropdown-menu userinfo arrow">
                 <li><a href="settings.html"><i class="ti ti-settings"></i><span>Settings</span></a></li>
                 <li ng-click="logoutNow()"><a href="#/"><i class="ti ti-shift-right"></i><span>Sign Out</span></a></li>
              </ul>
           </li>
        </ul>
     </header>
      <div id="wrapper">
         <div id="layout-static">
           <div class="static-sidebar-wrapper sidebar-default">
              <div class="static-sidebar">
                 <div class="sidebar">
                    <div class="widget stay-on-collapse" id="widget-sidebar">
                       <nav role="navigation" class="widget-body">
                           <ul class="acc-menu">
                              <!-- Smart Orders -->
                              <li>
                                  <a href="index.html" class="smartOrderTab"><i class="ti ti-tablet"></i><span>Smart Orders</span><span class="badge badge-teal" ng-if="smart_orders_length > 0">{{smart_orders_length}}</span></a>
                              </li>
                              <li>
                                  <a href="smart-orders-history.html" class="smartOrderTab"><i class="ti ti-check-box"></i><span>Smart Orders <b class="greyBadge"> Completed</b></a>
                              </li>
                              <!-- Online Orders -->
                              <li>
                                <a href="online-orders.html" class="onlineOrderTab"><i class="ti ti-truck"></i><span>Online Orders</span><span class="badge badge-teal" ng-if="pending_orders_length > 0">{{pending_orders_length}}</span></a>
                              </li>
                              <li>
                                <a href="online-orders-history.html" class="onlineOrderTab"><i class="ti ti-check-box"></i><span>Online Orders <b class="greyBadge"> Completed</b></span></a>
                              </li>
                              <li><a href="helpline-inbox.html"><i class="ti ti-headphone-alt"></i><span>Helpdesk</span><span class="badge badge-inverse" ng-if="helprequests_length > 0">{{helprequests_length}}</span></a></li>
                              <li><a href="edit-menu.html"><i class="ti ti-receipt"></i><span>Master Menu</span></a></li>
                              <li><a href="reservations.html"><i class="ti ti-bookmark-alt"></i><span>Reservations</span><span class="badge badge-inverse" ng-if="reservations_length > 0">{{reservations_length}}</span></a></li>
                              <li><a href="feedback.html"><i class="ti ti-thumb-up"></i><span>Feedbacks</span></a></li>
                              <!-- Order Settings -->
                              <li>
                                    <a href="javascript:;"><i class="ti ti-settings"></i><span>Order Settings</span></a>
                                    <ul class="acc-menu">
                                        <li><a href="smart-orders-rejected.html">Smart Orders - Rejected</a></li>
                                        <li><a href="failed-orders.html">Online Orders - Failed</a></li>
                                        <li><a href="smart-orders-settings.html">Smart Order Settings</a></li>
                                     </ul>
                              </li>
                              <li>
                                     <a href="javascript:;"><i class="ti ti-view-grid"></i><span>Tools</span></a>
                                     <ul class="acc-menu">
                                        <li><a href="staff-registry.html">Staff Registry</a></li>
                                        <li><a href="finance-ledger.html">Sales Ledger</a></li>
                                        <li><a href="user-profile.html">Search User</a></li>
                                     </ul>
                              </li>
                              <li>
                                     <a href="javascript:;"><i class="ti ti-stats-up"></i><span>Marketing</span></a>
                                     <ul class="acc-menu">
                                        <li><a href="promotions.html">Coupons Manager</a></li>
                                        <li><a href="marketing-wizard.html">Marketing Content</a></li>
                                        <li><a href="messenger.html">Messenger</a></li>
                                        <li><a href="analytics.html">Sales Analytics</a></li>
                                        <li><a href="vouchers.html">Vouchers Manager</a></li>
                                     </ul>
                              </li>
                           </ul>
                       </nav>
                    </div>
                 </div>
              </div>
           </div>
            <div class="static-content-wrapper">
               <div class="static-content">
                  <div class="page-content">
                     <div class="container-fluid">
                        <div data-widget-group="group1">

                          <div class="row tablesSection">
                             <h1>Tables</h1>

                             <div class="tableTile" ng-class="getTileClasses(table)" ng-repeat="table in tablesList track by $index" ng-click="openTable(table)">
                               <span class="serviceWarningContent">
                                  <span class="bell"><i class="fa fa-bell"></i></span>
                                  <tag class="animate">
                                    <b class="background">{{table.label}}</b>
                                    <b class="icon"><i class="fa" ng-class="getServiceWarningIcon(table)"></i></b>
                                    <b class="label">{{getServiceWarningLabel(table)}}</b>
                                  </tag>
                                </span>
                               <span class="tableLabel">{{table.label}}</span>
                               <span class="tableText">{{getTileText(table)}}</span>
                             </div>
                          </div>

                        </div>
                     </div>
                     <!-- .container-fluid -->
                  </div>
                  <!-- #page-content -->
               </div>
            </div>
         </div>
      </div>


          <!-- Punch Order Modal -->
          <div class="modal fade" id="punchOrderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content"> 
                <div class="modal-header" style="height: 65px; padding: 15px 10px; background: #f0f4f5">    
                  <div class="orderTableBlock">
                    <h1 class="tableTitle">Table <tag class="tableNumber">{{currentTableData.table}}</tag></h1>
                    <div class="stewardDetails"> 
                      <span class="stewardName">{{currentTableData.stewardName}}</span> 
                      <i class="fa fa-circle" style="font-size: 5px; position: relative; bottom: 3px; color: #c3c3c3;"></i> 
                      <span class="timeStamp">{{getOrderTime(individualOrder.orderDate, 'ABSOLUTE')}}</span>
                    </div>
                  </div>   
                  <div class="orderTimeBlock">
                    <span class="orderTime">{{getOrderTime(individualOrder.orderDate, 'PAST')}}</span> 
                    <span class="orderLabel" ng-if="currentTableData.previousPunchedCount == 0">NEW ORDER</span> 
                    <span class="orderLabel runningOrder" ng-if="currentTableData.previousPunchedCount != 0">{{getOrderCount(currentTableData.previousPunchedCount)}} RUNNING ORDER</span> 
                  </div>   
                </div>

                <div class="modal-body" style="min-height: 300px; max-height: 60vh; overflow: scroll; margin: 15px 0; padding-top: 0; padding-bottom: 0;">  
                      <div class="table-responsive">                                         
                         <table class="table m-n">
                           <col width="60%">
                           <col width="20%">
                           <col width="20%">
                            <thead>
                              <tr>
                                 <th>Item</th>
                                 <th>Quantity</th>
                                 <th>Available</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="item in individualOrder.cart track by $index">
                                 <td scope="row">
                                    <tag class="itemName">{{item.name}}</tag>
                                    <tag class="itemNameVariant" ng-if="item.variant != ''">{{item.variant}}</tag>
                                 </td>
                                 <td scope="row"><tag class="itemQty"><span class="itemQtyCross">x</span>{{item.qty}}</tag></td>
                                 <td scope="row">
                                  <tag class="itemAvailableButton" ng-if="item.isAvailable" ng-click="changeItemAvailability(item)"><i class="fa fa-check"></i></tag>
                                  <tag class="itemAvailableButton notAvailable" ng-if="!item.isAvailable" ng-click="changeItemAvailability(item)"><i class="fa fa-times"></i></tag>
                                 </td>
                              </tr>
                            </tbody>
                         </table>
                         <div ng-if="individualOrder.comments != ''" style="padding: 10px">
                          <hr>
                          <label style="font-weight: 400; color: #E91E63;">Comments from Guest</label>
                           <p style="font-weight: bold; font-size: 16px; font-style: italic;">{{individualOrder.comments}}</p>
                         </div>
                      </div>
                </div>                                          
                <div class="modal-footer punchOrderFooter">                                    
                  <button type="button" class="btn btn-default punchOrderReject" style="background: #f44336 !important; color: #FFF;" ng-click="punchOrderReject(currentTableData, individualOrder)">Reject</button>
                  <button type="button" class="btn btn-success punchOrderAccept" style="background: #4caf4f !important;" ng-click="punchOrderAccept(currentTableData, individualOrder)">Accept Order</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->    
          

          <!-- Service Request Modal -->
          <div class="modal fade" id="serviceRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content"> 
                <div class="modal-body" style="padding: 50px; background: #42465d;"> 
                  <h1><tag class="table">Table {{ServiceRequestModalContent.table}}</tag><tag class="service">{{getServiceNameFromKey(ServiceRequestModalContent.activeServiceRequest)}}</tag></h1>
                </div>             
                <div class="modal-footer punchOrderFooter">      
                  <button type="button" class="btn btn-success punchOrderAccept" style="width: 100% !important" ng-click="acknowledgeServiceRequest(ServiceRequestModalContent)">Acknowledge</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->    

         
         <!-- Options on Table Modal -->
          <div class="modal fade" id="tableOptionsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content"> 
                <div class="modal-body" style="padding-bottom: 50px"> 
                  <h1>Table <b>#1</b><span>Bena</span></h1>
                  <hr>
                  <div class="row" style="margin-top: 15px;">
                    <div class="col-sm-6">
                      <label class="myReservationLabel">System Bill Number</label>
                       <input type="text" ng-model="currentTableData.systemBillNumber" class="form-control input-lg" style="height: 60px; font-size: 24px;" placeholder="Bill Number">
                    </div>
                    <div class="col-sm-6">
                      <label class="myReservationLabel">Payable Amount</label>
                      <input type="text" ng-model="currentTableData.billAmount" class="form-control input-lg" style="height: 60px; font-size: 24px;" placeholder="Amount">
                    </div>
                  </div> 
                </div>             
                <div class="modal-footer punchOrderFooter">      
                  <button type="button" class="btn btn-default punchOrderReject" data-dismiss="modal">Hide</button>
                  <button type="button" class="btn btn-success punchOrderAccept" ng-click="generateBillForTable(currentTableData)">Generate Bill</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->    



          <!-- Generate Bill Modal -->
          <div class="modal fade" id="generateBillModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content"> 
                <div class="modal-body" style="padding-bottom: 50px"> 
                  <h1>Billing options on table <b>#1</b></h1>
                  <hr>
                  <div class="row" style="margin-top: 15px;">
                    <div class="col-sm-6">
                      <label class="myReservationLabel">System Bill Number</label>
                       <input type="text" ng-model="currentTableData.systemBillNumber" class="form-control input-lg" style="height: 60px; font-size: 24px;" placeholder="Bill Number">
                    </div>
                    <div class="col-sm-6">
                      <label class="myReservationLabel">Payable Amount</label>
                      <input type="text" ng-model="currentTableData.billAmount" class="form-control input-lg" style="height: 60px; font-size: 24px;" placeholder="Amount">
                    </div>
                  </div> 
                </div>             
                <div class="modal-footer punchOrderFooter">      
                  <button type="button" class="btn btn-default punchOrderReject" data-dismiss="modal">Hide</button>
                  <button type="button" class="btn btn-success punchOrderAccept" ng-click="generateBillForTable(currentTableData)">Generate Bill</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->    
          

          <div id="infobar"></div>

         <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script> 
      <script type="text/javascript" src="assets/js/jquery-1.10.2.min.js"></script> 							<!-- Load jQuery -->
      <script type="text/javascript" src="assets/js/jqueryui-1.10.3.min.js"></script> 							<!-- Load jQueryUI -->
      <script type="text/javascript" src="assets/js/bootstrap.min.js"></script> 								<!-- Load Bootstrap -->
      <script type="text/javascript" src="assets/js/enquire.min.js"></script> 									<!-- Load Enquire -->
      <script type="text/javascript" src="assets/plugins/velocityjs/velocity.min.js"></script>					<!-- Load Velocity for Animated Content -->
      <script type="text/javascript" src="assets/plugins/velocityjs/velocity.ui.min.js"></script>
      <script type="text/javascript" src="assets/plugins/wijets/wijets.js"></script>     						<!-- Wijet -->
      <script type="text/javascript" src="assets/plugins/codeprettifier/prettify.js"></script> 				<!-- Code Prettifier  -->
      <script type="text/javascript" src="assets/plugins/bootstrap-switch/bootstrap-switch.js"></script> 		<!-- Swith/Toggle Button -->
      <script type="text/javascript" src="assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  <!-- Bootstrap Tabdrop -->
      <script type="text/javascript" src="assets/plugins/iCheck/icheck.min.js"></script>     					<!-- iCheck -->
      <script type="text/javascript" src="assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> <!-- nano scroller -->
      <script type="text/javascript" src="assets/js/application.js"></script>
      <script type="text/javascript" src="assets/demo/demo.js"></script>
      
      <script type="text/javascript" src="assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> <!-- DateTime Picker -->

   </body>
</html>
